.pokemon-card{
    width:10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 3px solid white;
    border-radius: 1rem;
    padding: 3px;
    text-align: center;
}

.pokemon-card-img{
    width: 100%
}

.pokemon-card-info{
    font-weight: bold;
}