.pokemon-card{
    border-radius: 1rem;
    border: 3px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex: 0 1 25%;
    padding: 3px;
    text-align: center;
    transition: 0.3s;
    width:100%;
}

.pokemon-card-img{
    width: 100%;
}

.pokemon-card-info{
    font-weight: bold;
    text-shadow: 2px 2px black;
}