.Footer {
  align-items: center;
  background: var(--primary);
  border-top: 3px solid var(--secondary);
  color: white;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  height: 70px;
  justify-content: center;
  width: 100%;
}

.Footer a:hover {
opacity: .5;
}