.Header {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;

    position: relative;
    top: 0;
    left: 0;
    right: 0;

    background: var(--primary);
    border-bottom: 3px solid var(--secondary);
}

.Logo {
    /* Width obtained by dividing original logo width by 3.37
        Original logo image has height of 337px but header height has height of 100px, 3.37 was obtained from this*/
    max-width: 220px;
}

/* Different sizes for mobile devices */
@media (max-width: 800px) {
    .Header{
        height: 50px;
    }

    .Logo {
      max-width: 110px;
    }
}

