.logo{
    max-height: 2rem;
    margin-right: 2rem;
}

.navbar{
    align-items: center;
    background-color: var(--primary);
    border-bottom: 3px solid var(--secondary);
    color: var(--secondary);
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    justify-content: space-between;
}

.navbar-routes ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-routes li{
    list-style: none;
}

.navbar-routes li span{
    display: block;
    padding: 1rem;
}

.navbar-routes li:hover{
    background-color: var(--primaryDark);
    cursor: pointer;
}