.home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-button{
    border-radius: 1rem;
    border: 3px solid var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'GameBoy'
}

.home-button:hover{
    background-color: var(--primaryDark);
    cursor: pointer;  
}