/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: GameBoy;
  src: url('/assets/fonts/regular/Early-GameBoy.woff2') format('woff2'),
      url('/assets/fonts/regular/Early-GameBoy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after{
  box-sizing: border-box;
}

:root {
  --primary: #17285E;
  --primaryDark: #0f1a40;
  --primaryLight: #3363AF;
  --secondary:#FFCC03;
  --secondaryDark:#dbb004;

  --typeNormal:#BDBDAF;
  --typeGrass:#8DD951;
  --typeFire:#FA5644;
  --typeWater:#57AEFF;
  --typeFighting:#A75745;
  --typeFlying:#79A4FF;
  --typePoison:#A85C9F;
  --typeGround:#EDD05D;
  --typeRock:#CEBD72;
  --typeBug:#C3D21F;
  --typeGhost:#7975D6;
  --typeElectric:#FEE63C;
  --typePsychic:#F964B4;
  --typeIce:#96F1FF;
  --typeDragon:#8A75FF;
  --typeDark:#8E6956;
  --typeSteel:#C4C2DB;
  --typeFairy:#FAADFF;

  --hp:#FF0000;
  --attack:#F08030;
  --defense:#F8D030;
  --specialAttack:#6890F0;
  --specialDefense:#78C850;
  --speed:#F85888;

  --maxStat: 255;
}

html,
body {

  margin: 0;
  padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
} 